---
---

<!DOCTYPE HTML>

{% include acknowledgements.html %}

<html>
	<head>
		<title>Connect 动态</title>
		{% include head.html %}
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			{% include header.html %}

			<!-- Features -->
				<div id="features-wrapper">
					<section id="features" class="container">
						<header>
							<h2>Meet some of our <strong>fine</strong> staff!</h2>
						</header>
						<div class="row">
							<div class="3u 12u(mobile)">

								<!-- Feature -->
									<section class="dropdown">

											<a href="http://projectpengyou.org/members/wilson.ennuo/" class="image featured"><img src="images/pic01.jpg" alt="" />


											</a>
							<p class="dropdown-content">Robbie Myers is a film student at Western Kentucky University. His hometown is Louisville, although he lived in a small-town in California until he was 14 years old. His passions include film, coffee, and music. His favorite film is Star Wars, which he insists can be made relevant to all topics of conversation. Robbie is also very interested in China and the relationship it has with the United States. Through his involvement at Project Pengyou, he hopes to nurture his skills in filmmaking by using film as a means to facilitate discussion that leads to better US-China relations.</p>

									</section>

							</div>
							<div class="3u 12u(mobile)">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									</section>

							</div>
							<div class="3u 12u(mobile)">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									</section>

							</div>
							<div class="3u$ 12u(mobile)">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									</section>

							</div>
						</div>
					</section>
				</div>


			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div id="content">


						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header>
							<h2><strong>Join the Movement! 赶紧加入吧!</strong></h2>
						</header>
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<form action="https://formspree.io/ppythewkuchapter@gmail.com" method="post">
										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<input name="name" placeholder="Name" type="text" />
											</div>
											<div class="6u 12u(mobile)">
												<input name="email" placeholder="Email" type="text" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" placeholder="What are you interested in? Visiting? Joining our team? Showing off some of your skills? Let us know and we'll figure something out."></textarea>
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<input type="submit" value="Send" />
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<p>Get connected with pengyous locally and around the world!<br>与当地和全球的朋友们保持联系！</p>
									<div class="row">
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-instagram">
													<a href="https://www.instagram.com/pengyousatwku/">@pengyousatwku</a>
												</li>
												<li class="icon fa-facebook">
													<a href="https://www.facebook.com/ppywkuchapter/">PPYWKUChapter</a>
												</li>
												<li class="icon fa-envelope">
													<a href="mailto:ppythewkuchapter@gmail.com">ppythewkuchapter@gmail.com</a>
												</li>
												<li class="icon fa-laptop">
													<a href="https://projectpengyou.org">ProjectPengyou.org</a>
												</li>
											</ul>
										</div>
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-weixin">
													<p>Add us on WeChat!<br>关注我们的微信帐号哦</p>
													<a href="#" class="image featured"><img src="images/weixin-qr.png" alt="" /></a>

												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>

		</div>

		{% include scripts.html %}

	</body>
</html>
